:root {

    --principale: #faae3d;
    --secondario: #FFFFFF;
    --terziario: #e9e9e9;

}
/* bg-footer */
.bg-terziario{
    background-color: var(--terziario);
}

body {

    background-color: var(--secondario);

}

h1,
h2,
h3,
h4,
h5,
h6 {

    color: var(--principale);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

* {

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

/* navbar */

.navbar-custom {

    background-color: var(--principale);

}





/* off-canvs destro */

.position-custom {

    left: 35%;
    top: 20%;

}

/* logo navbar */
.ul-profile{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.logonav{
    height: 50px;
}

.button-custom {

    background-color: var(--terziario);
    border-radius: 30px;
    border-color: black;
    color: black;
    font-weight: 100;
    
}

.text-custom {
    color: var(--principale);
    background-color: black;
    border: 1px solid black;
}

/* carousel swiper */

.swiper {
    width: 60%;
    height: 60vh;}

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
}

/* header */
.header-c{

    background-image: url('C:\Users\Gallo\Aulab\ProgettoFinaleFullStack\presto_ferraioli_lozano_macri_gallo_araujo\public\img\img-header.jpg');
    height: 90vh;

}

.mask-vh{

    background-color: rgba(0, 0, 0, 0.5);
    height: 80vh;
}

/* bottone header  */

.button-header{
    background-color: var(--principale);
    border-radius: 30px;
    border: 1px solid var(--principale);
    color: black;
    font-weight: bold;
}

.button-header:hover{
    background-color: transparent;
    border: 3px solid var(--principale);
    font-weight: bolder;
    color: var(--principale);
    transition: 0.4s;
}

/* bottone card  */

.button-card{
    background-color: var(--principale);
    border-radius: 30px;
    border: 3px solid var(--principale);
    color: black;
    font-weight: bold;
}

.button-card:hover{
    background-color: black;
    border: 3px solid var(--principale);
    color: var(--principale);
    transition: 0.4s ease-in-out;
}


/* bottone footer  */

.logo-costum{
    height: 15px;
    width: 15px;
}

/* form  */

.form-custom{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
}
 .nav-phone{
    flex-direction: row;
 }

/* media query */

@media screen and (max-width: 767px) {
    .nav-phone{
        flex-direction: column;
    }

    .logonav{
        height: 25px;
    }
}

/* article costum */
/* .shadow-custom{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} */
.mask{
    background-color: rgba(251, 251, 251, 0.15);
}

/* create-article-form images  */

.img-preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}